*{
  font-family:  "Anonymous Pro", monospace;
}
body{
  background-color: #2a292e;
  padding: 25px;
}
#header {
  display: flex;
  align-items: center; /* Align children vertically */
  font-size: 150%;
  padding-left: 50px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #18181a;
  color: #27b20d;

}

#open_new_appointment {
  padding: 5px 10px; /* Adjust padding for better spacing */
  margin-left: 20px; /* Optional spacing from paragraph */
  line-height: 1;

}
#close_new_appointment{
  padding: 5px 10px; /* Adjust padding for better spacing */
  margin-left: 20px; /* Optional spacing from paragraph */
  line-height: 1;
}
#appointments{
  background-color: #2a292e;
  margin-top: 70px;
}
.appointment{
  display: inline-block;
  margin-block: 10px;
  background-color: #2a292e;
  width: 200px;
  height: 200px;
  padding-inline: 10px;
  padding-block: 3px;
  border: 2px solid #595766;
  border-radius: 4px;
  color:#27b20d;
}
#new_appointment{
  display: none;
  align-items: center;
  background-color: #2a292e;
  width: 500px;
  padding-inline: 10px;
  padding-block: 3px;
  border: 2px solid #595766;
  border-radius: 4px;
}
#header_new_appointment{
  display: flex;
  align-items: center;
}
h1 {
	color: #27b20d;
	font-size: 150%;
}
#name {
  background-color: #474552;
  color: #27b20d;
  width: 245px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #595766;
  border-radius: 4px;
  padding: 10px;
  resize: none;
  vertical-align: top;
  line-height: 1.5;
}

input {
  background-color: #474552;
  color: #27b20d;
  width: 245px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #595766;
  border-radius: 4px;
  padding: 10px;
  vertical-align: top;
  line-height: 1.5;
}
input:focus{
  outline: none;
}
#notes {
  width: 500px;
  height: 150px;
  margin-top: 20px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #595766;
  border-radius: 4px;
  color: #27b20d;
  background-color: #474552;
  resize: none;
}
textarea:focus{
  outline: none;
}
button {
  padding: 10px;
  margin-top: 20px;
  border: 0px;
  color: #2a292e;
  background-color: #27b20d;
  border-radius: 4px;
}
button:hover{
  background-color: #1c9c3e
}
button:active{
  scale: 95%;
  background-color: green
}
#submit_confirmation{
  opacity: 1;
  transition-delay: 3s;
} 
