body{
  background-color: #2a292e;
  padding: 25px;	
  font-family:  "Anonymous Pro", monospace;
}
h1 {
	color: #27b20d;
	font-size: 150%;

}
input{
  background-color: #474552;
  color: #27b20d;
}
button {
  padding: 10px;
  margin-top: 20px;
  border: 0px;
  color: #2a292e;
  background-color: #27b20d;
  font-family:  "Anonymous Pro", monospace
}
button:hover{
  background-color: #1c9c3e
}
button:active{
  scale: 95%;
  background-color: green
}

pre{
  font-family:  "Anonymous Pro", monospace;
  color: #27b20d
}
