body{
  padding: 25px;	
  font-family: Arial;
}
p {
	color: #5a0d0d;
	font-size: 150%;

}
input{
  border-radius: 5px;
}
button {
  padding: 10px;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 7px;
  color: black;
  background-color: lightgreen;
}
button:active{
  scale: 95%;
  background-color: green
}